Programa 1: Imprimir Matricula y Nombre

In [1]:
matricula= '1625654'
nomb= "Alan"
print(nomb,matricula)

Alan 1625654

Programa 2: Calculadora con 2 inputs de numeros

In [2]:
b=int(input("Ingresa un numero  "))
a=int(input("Ingresa otro numero  "))
suma=b+a
rest=b-a
mult=b*a
div=b/a
exp=b**a
print(suma,rest,mult,div,exp)

Ingresa un numero  2
Ingresa otro numero  2
4 0 4 1.0 4

Programa 3: Realizar un ciclo el cual imprima una lista de 10 multiplos de 3 y despues se sumen todos

In [3]:
mult3=[]
for i in range (0,11):
    mult3.append(i*3)
mult3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [4]:
total=0
for i in range (0,11):
    total=total+mult3[i]
total

165

Programa 4: Realizar un If Else para checar si un numero es par o impar

In [5]:
num=int(input("Ingresa un numero  "))
if (num % 2 ==0):
    print("Numero es par")
else:
    print("Numero es impar")

Ingresa un numero  2
Numero es par

Programa 5: Utilizando clases realizar una calculadora

In [6]:
def Suma(a,b):
    res=a+b
    return(res)
def Resta(a,b):
    res=a-b
    return(res)
def Multiplicacion(a,b):
    res=a*b
    return(res)
def Division(a,b):
    res=a/b
    return(res)
def Exponente(a,b):
    res=a**b
    return(res)
a=int(input("Ingresa un numero  "))
b=int(input("Ingresa otro numero  "))
print("Suma= ",Suma(a,b))
print("Resta= ",Resta(a,b))
print("Multiplicacion= ",Multiplicacion(a,b))
print("Division= ",Division(a,b))
print("Exponente= ",Exponente(a,b))

Ingresa un numero  2
Ingresa otro numero  2
Suma=  4
Resta=  0
Multiplicacion=  4
Division=  1.0
Exponente=  4

Ejercicios Tuplas:
1: Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [7]:
a=1.2
b=2
c=True
d= 1j+2
print(a, "es de tipo", type(a))
print(b, "es de tipo", type(b))
print(c, "es de tipo", type(c))
print(d, "es de tipo", type(d))

1.2 es de tipo <class 'float'>
2 es de tipo <class 'int'>
True es de tipo <class 'bool'>
(2+1j) es de tipo <class 'complex'>

2: Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [8]:
t1 = (0,1,2,3,4,5)
print(t1[0],t1[5])

0 5

3: Añadir 3 valores de string a la tupla.

In [9]:
t1 = t1.__add__(('abc','def',))
t1

(0, 1, 2, 3, 4, 5, 'abc', 'def')

4: Verificar si una variable existe dentro de la tupla.

In [10]:
for i in range(0,8):
    print(t1[i],"es de tipo ",type(t1[i]))

0 es de tipo  <class 'int'>
1 es de tipo  <class 'int'>
2 es de tipo  <class 'int'>
3 es de tipo  <class 'int'>
4 es de tipo  <class 'int'>
5 es de tipo  <class 'int'>
abc es de tipo  <class 'str'>
def es de tipo  <class 'str'>

Ejercicios Listas: 1:Crear una lista con 40 elementos aleatorios enteros.

In [11]:
import numpy as np
l1=[]
for i in range(0,41):
    l1.append(np.random.randint(0,40))
l1

[20,
 34,
 32,
 7,
 32,
 19,
 21,
 29,
 18,
 1,
 22,
 6,
 34,
 13,
 31,
 37,
 10,
 13,
 18,
 29,
 22,
 21,
 8,
 37,
 27,
 22,
 12,
 8,
 24,
 23,
 25,
 29,
 38,
 39,
 16,
 26,
 29,
 1,
 1,
 32,
 1]

2:Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [12]:
def Lista1(l1):
    l2=[]
    for i in range (0,41):
        if (l1[i] % 2 == 0):
            l2.append(l1[i])
    return (l2)
def Lista2(l1):
    l3=[]
    for i in range (0,41):
        if (l1[i] % 2 != 0):
            l3.append(l1[i])
    return(l3)
print("Lista Pares: ",Lista1(l1))
print("Lista Impares: ",Lista2(l1))

Lista Pares:  [20, 34, 32, 32, 18, 22, 6, 34, 10, 18, 22, 8, 22, 12, 8, 24, 38, 16, 26, 32]
Lista Impares:  [7, 19, 21, 29, 1, 13, 31, 37, 13, 29, 21, 37, 27, 23, 25, 29, 39, 29, 1, 1, 1]

3:Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [13]:
a=len(Lista1(l1))
b=len(Lista2(l1))
print(a,b)

20 21

4: Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [14]:
par=Lista1(l1)
impar=Lista2(l1)
par.sort(reverse=True)
impar.sort()
print("Lista Pares: ",par)
print("Lista Impares: ",impar)

Lista Pares:  [38, 34, 34, 32, 32, 32, 26, 24, 22, 22, 22, 20, 18, 18, 16, 12, 10, 8, 8, 6]
Lista Impares:  [1, 1, 1, 1, 7, 13, 13, 19, 21, 21, 23, 25, 27, 29, 29, 29, 29, 31, 37, 37, 39]

5: Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [15]:
print("Antes: ",l1)
l1.reverse()
l1.pop(2)
l1.insert(2,5)
l1.append(67)
print("Despues: ",l1)

Antes:  [20, 34, 32, 7, 32, 19, 21, 29, 18, 1, 22, 6, 34, 13, 31, 37, 10, 13, 18, 29, 22, 21, 8, 37, 27, 22, 12, 8, 24, 23, 25, 29, 38, 39, 16, 26, 29, 1, 1, 32, 1]
Despues:  [1, 32, 5, 1, 29, 26, 16, 39, 38, 29, 25, 23, 24, 8, 12, 22, 27, 37, 8, 21, 22, 29, 18, 13, 10, 37, 31, 13, 34, 6, 22, 1, 18, 29, 21, 19, 32, 7, 32, 34, 20, 67]

Ejercicios Diccionarios: 1: Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [16]:
dir= {'Samir':31,'Karla':22,'Rodolfo':21,'Angel':22,'Jonathan':23,'Daniel':26}
dir

{'Samir': 31,
 'Karla': 22,
 'Rodolfo': 21,
 'Angel': 22,
 'Jonathan': 23,
 'Daniel': 26}

2: Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor

In [17]:
lis=[31,22,21,22,23,26]
lis.sort()
lis

[21, 22, 22, 23, 26, 31]

3: Usando el diccionario y un loop, imprimir solo los nombres

In [18]:
for i in dir:
    print(i)

Samir
Karla
Rodolfo
Angel
Jonathan
Daniel

4: Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [19]:
dir ['Jose'] = 19
dir ['Julian'] = 24
dir

{'Samir': 31,
 'Karla': 22,
 'Rodolfo': 21,
 'Angel': 22,
 'Jonathan': 23,
 'Daniel': 26,
 'Jose': 19,
 'Julian': 24}

Ejercicios Sets: 1: Crea un set con 100 numeros aleatorios enteros del 1 al 25

In [20]:
f = set()
for i in range (0,101):
    f.add(np.random.randint(0,26))
f

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25}

2: Comprueba la longitud de tu set

In [21]:
len(f)

26

3: Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [22]:
lis5 = []
for i in range (0,6):
    lis5.append(np.random.randint(0,10))
    if (lis5[i] in f):
        print("Elemento ",lis5[i], " se encuentra en el set")

Elemento  5  se encuentra en el set
Elemento  7  se encuentra en el set
Elemento  1  se encuentra en el set
Elemento  6  se encuentra en el set
Elemento  2  se encuentra en el set
Elemento  7  se encuentra en el set